<div class="card-container d-flex justify-content-center w-auto">
    <div class="card">
        <div class="card-header">
            <h2>Form</h2>
        </div>
        <form [formGroup]="simpleForm" (ngSubmit)="onSubmit()" class="card-container d-flex justify-content-center pt-4 px-5 pb-4">
            <div class="form-container">
                <div class="form-group">
                    <label for="form-id">ID</label><br>
                    <input class="form-control" id="form-id" placeholder="123" formControlName="id">
                    <div *ngIf="control('id')?.errors?.required" class="error">
                        ID is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="form-title">Title</label><br>
                    <input class="form-control" id="form-title" placeholder="exemple title" formControlName="title">
                    <div *ngIf="control('title')?.errors?.required" class="error">
                        Title is required
                    </div>
                    <div *ngIf="control('title')?.errors?.minlength" class="error">
                        Must be atleast 7 characters
                    </div>
                </div>
                <div class="form-group">
                    <label for="form-author">Author</label><br>
                    <select class="form-control" id="form-author" formControlName="author">
                        <option *ngFor="let author of authors"
                        value="{{author.author}}">
                        {{author.author}}
                        </option>
                    </select>
                    <div *ngIf="control('author')?.errors?.required" class="error">
                        Author is required
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-link mr-3" (click)="backClicked()">Back</button>
                    <button class="btn btn-primary" type="submit" [disabled]="simpleForm.invalid">SUBMIT</button>
                </div>
            </div>
        </form>
    </div>
</div>